CompileFlags:
  Add:
    - -I
    - Include
    - -I
    - Drivers/Include
  Remove:
    - "--apcs=*"
    - "--cpu"
    - "--li"
    - "--c99"
    - "--split_sections"
    - "--diag_suppress=*"
    - "--no_depend_system_headers"
    - "--depend"

Diagnostics:
  UnusedIncludes: None